@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-lg lg:text-xl break-words;
  }
  h2 {
    @apply text-lg font-bold mb-2 break-words;
  }
  h4 {
    @apply mt-10 mb-5 break-words;
  }
  h4:has(+ p) {
    @apply mt-10 mb-0 break-words;
  }
  p {
    @apply mt-3 mb-2 break-words;
  }
  a {
    @apply hover:font-bold;
  }
  hr {
    @apply opacity-0;
  }
  img + p {
    display: inline;
  }
  p + img {
    display: inline;
  }
  p:has(+ img) {
    display: inline;
  }
}
